name: Node

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: npm install
        run: npm install --frozen-lockfile
      - name: npm run build
        run: npm run build
      - name: npm run coverage
        run: npm run coverage | tail -n +7 >> $GITHUB_STEP_SUMMARY
