name: Node

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: npm install
        run: npm install --frozen-lockfile
      - name: npm run build
        run: npm run build
      - name: npm run coverage
        # run: npm run coverage | tail -n +17 >> $GITHUB_STEP_SUMMARY
        run: npm run coverage
      - name: "Report Coverage"
        # Set if: always() to also generate the report if tests are failing
        # Only works if you set `reportOnFailure: true` in your vite config as specified above
        if: always()
        uses: davelosert/vitest-coverage-report-action@v2
