name: Node

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: bun install
        run: bun install --frozen-lockfile
      - name: bun build
        run: bun build
      - name: bun coverage
        run: bun coverage | tail -n +7 >> $GITHUB_STEP_SUMMARY
