name: Node

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: pnpm install
        run: pnpm install --frozen-lockfile
      - name: pnpm build
        run: pnpm build
      - name: pnpm coverage
        run: pnpm coverage | tail -n +7 >> $GITHUB_STEP_SUMMARY
